# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Poetry
.poetry/
poetry.lock

# Virtual Environments
.env
.venv
env/
venv/
ENV/

# Distribution / packaging
build/
dist/
*.egg-info/
*.whl

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
.pytest_cache/
nosetests.xml
coverage.xml

# Sphinx documentation
docs/_build/

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# Local History (if using the Local History extension)
.history/

# Environment variable files
.env
.env.*
